html, body{
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.gradient-background{
  background: #2de59f; /* Old browsers */
  background: -moz-linear-gradient(top, #2de59f 0%, #5057ba 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2de59f 0%,#5057ba 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2de59f 0%,#5057ba 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2de59f', endColorstr='#5057ba',GradientType=0 ); /* IE6-9 */
}

/* Join page*/

.join-form{
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
}
.join-form form{
    background-color: white;
    padding: 5em 3em;
    border-radius: 7px;
    width: 400px;
}

/* Join page End*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  padding-left: 0;
  padding-right: 0;
}

#nav-top{
  background-color: #222;
}

#chat-window{
  margin: 28px 0 0 15px;
  height: 89vh;
  overflow-y: scroll;
}

#chat-window h1{
  margin-bottom: 1em;
  color: #222;
}

.btn-blue{
  background-color: #5057ba;
  color: #fff;
  border-radius: 0;
}

.btn-green{
  background-color: #2de59f;
  color: #fff;
  border-radius: 0;
}

#chat-message {
  margin-bottom: 10px;
}

#messages {
  list-style: none;
  padding: 0 0 0 4px;
}

#chat-buttons > button{
  margin: 0 3px;
}

#message-form input{
  margin-right: 3px;
  border-radius: 0;
  border-image-source: linear-gradient(to right, #2de59f, #5057ba);
  border-width: 1pt;
  border-image-slice: 1;
}

h1{
  font-weight: bold;
  font-size: 3rem
}

.sidebar-header{
}

.message__title{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.message__title h5 {
  margin: 0;
}

.message__title span {
  color: #999;
  margin-left: 10px;
  font-size: 0.8em;
}

.message{
  border-left: 3px solid #5057ba;
  padding-left: 5px;
  margin-bottom: 20px;
}
